<div class="popup-content text-center">
    <h1>Limited account</h1>

    <h2>You need to upgrade to an Account before you can add any more keywords.</h2>

    <button type="submit" data-ng-click="ok()" class="">Upgrade</button>
    <button type="submit"  data-ng-click="cancel()" class="btn-alternative btn-cancel">Cancel</button>
    <button title="Close (Esc)" data-ng-click="cancel()" type="button" class="mfp-close">&times;</button>
    <img src="/Content/Images/preloader16.gif" class="preloader-small" data-ng-show="popupLoading" alt="loading" />
</div>
