<div class="popup-content text-center">
    <h1>Welcome to Wincher!</h1>
    
    <p class="font-weight-bold">Ranking update information</p>
    
    <p>
        Using the Free version of Wincher is usually limited to 
        weekly ranking updates - on Mondays.

    </p>
    
    <p>
        However, to kickstart your Wincher experience, we've decided to give you 
        <i>daily</i> ranking updates until <b> {{dailyRankingsToDate | date : 'mediumDate'}} </b>.
    </p>
    <p>
        (Daily ranking updates are normally limited to the <a class="wincherOrangeDark" href="javascript:void(0)" data-ng-click="cancel(); upgrade_now()">PRO version</a>)
    </p>

    <br>

    <button type="submit" data-ng-click="ok()" class="btn-alternative btn-wide btn">Ok, I get it!</button>
    
    <!--
    <button title="Close (Esc)" data-ng-click="cancel()" type="button" class="mfp-close">&times;</button>
    -->

    <img data-ng-src="{{config.BASE_PATH}}images/preloader16.gif" class="preloader-small" data-ng-show="popupLoading" alt="loading">
</div>