<div class="popup-content text-center">
    <h1>Please confirm to delete</h1>

    <h2>{{ ids.length }} keyword(s)</h2>

    <p>Collected data and information will be lost if you delete a keyword. Do you want to continue?</p>

    <button type="submit" data-ng-click="ok()" class="btn-alternative">Confirm</button>
    <button type="submit" data-ng-click="cancel()">Cancel</button>
    <button title="Close (Esc)" data-ng-click="cancel()" type="button" class="mfp-close">&times;</button>
    <img data-ng-src="{{config.BASE_PATH}}images/preloader16.gif" class="preloader-small" data-ng-show="popupLoading" alt="loading" />
</div>